{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>Rango says....</h1>
    <div>
        here is the about page. <br />
        <strong>{{djangomessage}}</strong><br />
        <strong>The number of visits to this page are: {{visits}}</strong>
    </div>
    <div>
        <img src="{% static "images/python_django.jpg" %}"
        alt="Picture of Django and Python Logo" />

        <img src="{{MEDIA_URL}}cat.jpg" />
    </div>
{% endblock %}
